<div class="title-header jumbotron">
    <h1>Ember CLI Wizard</h1>
</div>

<h2 style="padding-left:35px">Examples</h2>

<div class="col-xs-12" style="margin-top:20px">
    <div class="col-xs-12 col-sm-3">
        <ul class="list-group">
            <LinkTo @route="basic-example" class="list-group-item">Basic Example</LinkTo>
            <LinkTo @route="form-example" class="list-group-item">Form Example</LinkTo>
            <LinkTo @route="async-example" class="list-group-item">Async Example</LinkTo>
            <LinkTo @route="delete-example" class="list-group-item">Delete Example</LinkTo>
            <LinkTo @route="no-animation-example" class="list-group-item">No Animation Example</LinkTo>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
        {{outlet}}
    </div>
</div>
